.Guia, .GamesArea {
    background: linear-gradient(180deg, rgb(41, 0, 58) 0%, rgb(51, 0, 75) 50%, rgb(77, 0, 113) 100%);
    color: #fff;
}

.Guia {
    text-align: center;
    font-family: Impact, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
}

.separator {
    height: 20px;
}

h1 {
    text-align: center;
    margin: auto;
}

.search {
    align-items: center;
    display: flex;
    justify-content: center;
}

.search input[type="text"],
.search button {
    margin: 0 5px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 100px;
    outline: none;
    margin: auto;
    align-items: center;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button, .buttoncart {
    text-align: center;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100px;
}

button {
    background: linear-gradient(180deg, rgb(234, 184, 255) 0%, rgb(177, 95, 255) 50%, rgb(234, 184, 255) 100%);
}

button:hover {
    background-color: #dc5dff;
}

.buttoncart {
    background: rgb(234, 184, 255) 0%;
    border-radius: 50%;
}

.GamesArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: linear-gradient(180deg, rgb(41, 0, 58) 0%, rgb(51, 0, 75) 50%, rgb(77, 0, 113) 100%);
    text-shadow: -1px -1px 0 #818181, 1px -1px 0 #717171, -1px 1px 0 #2a2a2a, 1px 1px 0 #000000;   
    color:#fff;
}

.card, .gameDatails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.card img, .cardGame img, .libraryitems img {
    max-height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h4 {
    text-align: center;
    margin: 0;
}

.gameDatails, .gameDetails, .libraryitems {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardGame, .libraryitems {
    text-align: center;
    color:rgb(41, 0, 58)
}

.cardGame h2, .cardGame h3 {
    margin-bottom: 10px;
    color:#000
}

.loading {
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.platforms-container {
    display: flex;
    justify-content: center;
}

.platforms {
    display: flex;
    align-items: center;
}

.platforms > * {
    margin-right: 10px;
}

.boxGames {
    justify-items: center;
}

