.container{
display: flex;
gap: 50px;
flex-wrap: wrap;
justify-content: center;
align-items:center;
}

.libraryitems{
    height: 320px;
    width: 230px;
    border: 1px solid rgb(194,193,193);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.boxGame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameDetails {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardGame {
    text-align: center;
}

.cardGame h2 {
    margin-bottom: 10px;
}

.cardGame img {
    width: 100%;
    max-width: 400px; /* Ajuste conforme necessário */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
