nav {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Para alinhar os itens verticalmente */
    position: fixed; /* Fixar a barra de navegação */
    left: 0; /* Alinhar à esquerda da tela */
    top: 0px; /* Alinhar ao topo da tela */
    height: 100vh; 
    z-index: 100; 
}



main {
    margin-left: 200px; /* Espaçamento para evitar sobreposição com a barra de navegação */
    padding: 20px; /* Adicione algum espaçamento interno ao conteúdo principal */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 50px
}

li {
    margin-bottom: 10px; /* Espaçamento entre os itens */
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
